{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container bg-container-dark text-light px-2 p-lg-5">
    <!--CONTENT HEADER-->
    <div class="row">
        <div class="col-md-10 offset-md-1 text-center text-md-left my-1">
            <h2><strong>Your Event</strong></h2>
        </div>
    </div>
    <!--SAMPLE PACKAGES-->
    <div class="row">
        <div class="col-md-10 offset-md-1 text-center text-md-left">
            <p>To give you an idea, here are some sample packages we offer</p>
        </div>
        <div class="col-md-10 offset-md-1">
            <!--PACKAGE 1-->
            <div class="row">
                <div class="col-lg-3 div-bg-opacity p-2 m-3" style="border-radius: 20px">
                    <h5 style="color: pink"><strong>Our most POPular</strong></h5>
                    <h6><small><i>from €499</i></small></h6>
                    <ul>
                        <li>12 x 3 latex balloons</li>
                        <li>5 x 5 latex Balloon Bundles</li>
                        <li>4 x Personalised Confetti Balloons</li>
                        <li>7ft x 5ft Balloon Gridz Wall</li>
                    </ul>
                </div>
                <!--PACKAGE 2-->
                <div class="col-lg-3 div-bg-opacity p-2 m-3" style="border-radius: 20px">
                    <h5 style="color: magenta"><strong>BLOW everyone away</strong></h5>
                    <h6><small><i>from €999</i></small></h6>
                    <ul>
                        <li>10 x 3 balloon latex bouquets</li>
                        <li>Pearl Balloon Arch</li>
                        <li>4 x Confetti Bubbles</li>
                        <li>7ft x 6ft 3d/Gridz Balloon Wall </li>
                    </ul>
                </div>
                <!--PACKAGE 3-->
                <div class="col-lg-3 div-bg-opacity p-2 m-3" style="border-radius: 20px">
                    <h5 style="color: cyan"><strong>Go out with a BANG</strong></h5>
                    <h6><small><i>from €1499</i></small></h6>
                    <ul>
                        <li>8 x 3 Balloon Latex Bouquets</li>
                        <li>6 x Giant 3ft Balloons</li>
                        <li>2 x Balloon Columns with 3ft Toppers</li>
                        <li>8ft x 7ft Balloon Wall (3d Style)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="bg-light">
    {% if thank_you %}
        <p>Thank you for your enquiry!</p>
    {% endif %}
    {% if event_form %}
    <!--EVENT QUERY FORM-->
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form action="{% url 'events' %}" method="POST" id="event-form">
                    {% csrf_token %}
                    {{ event_form|crispy }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning my-5">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}