{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container bg-container-dark text-light pb-5">
    <div class="row">
        <div class="col-8 offset-2 align-items-center text-center">
            <h3><strong>Your Cart</strong></h3>
            <p>{{ action }}</p>
            <a href="{% url 'categories' %}" class="btn btn-warning text-uppercase my-5"><i class="fas fa-chevron-left"></i>&nbsp continue shopping</a>
        </div>
    </div>
    <hr class="bg-light">
    {% if cart_items %}
        {% for item in cart_items %}
        <div class="row align-items-center p-1 p-lg-2">
            <div class="col-12 col-md-6 col-lg-3 text-center px-5">
                {% if item.product.image %}
                <a href="{% url 'product_detail' item.product.id %}">
                    <img class="img-fluid border border-info cart-img" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' item.product.id %}">
                    <img class="img-fluid border border-info cart-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                </a>
                {% endif %}
            </div>  
            <div class="col-12 col-md-6 col-lg-9">
                <div class="row p-0 text-center">
                    <div class="col-12 col-lg-2 p-0 py-3 mr-2"><strong>{{ item.product.name }}</strong></div>
                    <div class="col-12 col-lg-1 p-0 py-3 mr-2">€{{ item.product.discounted_price }} each</div>
                    <div class="col-12 col-lg-2 p-0 py-3 mr-2">
                        {% include 'cart/includes/qty-update-form.html' with item=item request=request %}
                    </div>
                    <div class="col-12 col-lg-2 p-0 py-3 mr-2"><strong>€{{ item.item_total }}</strong></div>
                    <div class="col-12 col-lg-1 p-3 py-3 mr-2 text-decoration-none">
                        <a href="{% url 'remove_from_cart' item.product.id %}">
                            <i class="fas fa-trash text-danger"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg-light">
        {% endfor%}
        <div class="row mt-5">
            <div class="col-12 col-lg-2 offset-lg-10 text-center">
                <p class="text-muted mb-0">Delivery Charges</p>
                <p>€{{ delivery }}</p>
                <h6 class="text-muted text-center mt-3">Grand Total </h6>
                <h4 class="text-center"><strong> €{{ grand_total|floatformat:2 }}</strong></h4>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-2 offset-lg-10 text-center">
                <a href="{% url 'checkout' %}" class="btn btn-warning btn-lg">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
            </div>
        </div>

    {% else %}
        <h6>Your cart is empty.</h6>
        <a href="{% url 'categories' %}" class="btn btn-warning btn-lg">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>shop</span>
        </a>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{block.super}}
<script>
    $(document).ready(function () {
        var quantity = 0;
        $('.quantity-right-plus').click(function (e) {
            e.preventDefault();
            $(this).parent().siblings('#qty').first().trigger('change');
        });

        $('.quantity-left-minus').click(function (e) {
            e.preventDefault();
                $(this).parent().siblings('#qty').first().trigger('change');
            });

        $('input').on('change', function () {
            console.log($(this));
            $(this).siblings('#update-qty').first().trigger('click');
        });
    });
</script>
{% endblock %}