{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}
 
{% block content %}
        <div class="row" id="home-container bg-opacity">
            <div class="col my-auto">
                <div class="row align-items-center mb-5">
                    <div class="col-7 offset-lg-5">
                        <div class="row align-items-center div-bg-opacity home-product-row rounded-3">
                            <div class="col-6">
                                <a href="#" class="text-center text-decoration-none font-weight-bold nav-link">
                                    <h1>Shop Balloons</h1>
                                </a>
                            </div>
                            <div class="col-6">
                                <p>Some Info</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-7">
                        <div class="row align-items-center div-bg-opacity home-product-row rounded-3">
                            <div class="col-6">
                                <p class="text-right">Some Info</p>
                            </div>
                            <div class="col-6">
                                <a href="#" class="text-center text-decoration-none font-weight-bold nav-link">
                                    <h1>Build A Bundle</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-7 offset-lg-5">
                        <div class="row align-items-center div-bg-opacity home-product-row rounded-3">
                            <div class="col-6">
                                <a href="#" class="text-center text-decoration-none font-weight-bold nav-link">
                                    <h1>Balloon Printing</h1>
                                </a>
                            </div>
                            <div class="col-6">
                                <p>Some Info</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-7">
                        <div class="row align-items-center div-bg-opacity home-product-row rounded-3">
                            <div class="col-6">
                                <p class="text-right">Some Info</p>
                            </div>
                            <div class="col-6">
                                <a href="#" class="text-center text-decoration-none font-weight-bold nav-link">
                                    <h1>Your Event</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}