<div class="col-12 col-md-6 col-lg-4">
    <div class="card bg-dark text-light product-card border border-light my-2 my-lg-5">
        <!--PRODUCT IMAGE-->
        <a href="{% if cntxt == 'categories' %}{% url 'sub_categories' %}?category={{ result.name }}{% elif cntxt == 'sub_categories' %}{% url 'products' %}?sub_category={{ result.name }}{% else %}{% url 'product_detail' result.id %}{% endif %}" class="text-dark">
            {% if result.image %}
                <img src="{{ result.image.url }}" class="card-img-top img-fluid" alt="{{ result.name }}">
            {% else %}
                <img src="{{MEDIA_URL}}noimage.png" class="card-img-top img-fluid" alt="{{ result.name }}">
            {% endif %}
            <!--PRODUCT DETAIL OVERLAY-->
            <div class="card-img-overlay">
                <div style="background-color: rgba(0, 0, 0, 0.9)" class="pl-2 py-1 rounded-3">
                    <p class="card-title mb-0 text-light"><strong>{{ result.name }}</strong></p>
                    <small class=text-info>{% if product.qty_in_cart > 0 %}You have {{product.qty_in_cart}} of this item in your cart!{% endif %}</small>
                    {% if product_alert_qty_threshold > result.qty_held %}
                        <p class="mb-0"><small class="text-warning">Only <strong>{{result.qty_held}}</strong> left in stock!</small></p>
                    {% endif %}
                </div>
            </div>
        </a>
        <!--PRODUCT DETAILS-->
        {% if cntxt == 'products' %}
            {% include './card-details.html' with result=result %}
        {% endif %}
    </div>
</div>