<div class="card-body bg-dark text-light pt-3 m-0 align-items-center">
    <div class="row mb-3">
        <div class="col-8 offset-2 text-center">
            {% if result.price != result.discounted_price %}
                <h6 class="my-0"><s class="text-muted">€{{ result.price }}</s><strong>&nbsp&nbsp€{{ result.discounted_price }}</strong></h6>
            {% else %}
                <h6 class="my-0"><strong>€{{ result.discounted_price }}</strong></h6>
            {% endif %}
        </div>
    </div>
    <hr>
    <form class="form" action="{% url 'add_to_cart' result.id %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-9 align-content-center">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-left-minus btn btn-dark btn-number" data-type="minus"
                            data-field="">
                            <span class="fas fa-minus"></span>
                        </button>
                    </span>
                    <input type="text" id="qty" name="qty" class="form-control input-number text-center" value="1"
                        min="1" max="100">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-right-plus btn btn-dark btn-number" data-type="plus"
                            data-field="">
                            <span class="fas fa-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-3 align-content-center">
                <input type="submit" class="btn btn-light text-dark text-center py-1" value="add">
            </div>
        </div>
        <input type="hidden" name="this_url" value="{{ request.get_full_path }}">
    </form>
</div>
