{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container bg-container-dark text-center">
    <!--CONTENT HEADER-->
    <div class="row">
        <div class="col-8 offset-2">
            <h4>Profile</h4>
        </div>
    </div>
    <hr class="bg-light">
    <!--PROFILE FORM-->
    <div class="row">
        <div class="col-12 col-md-6 p-5">
            <h6>Save time by saving your details with us</h6>
            <hr class="bg-light">
            <form action="{% url 'profile' %}" method="POST" id="payment-form" class="mt-5">
                {% csrf_token %}
                <!--CUST DETAILS-->
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-light text-left">Your Details</legend>
                    {{ profile_form.cust_name | as_crispy_field }}
                    {{ profile_form.cust_email | as_crispy_field }}
                    {{ profile_form.cust_phone | as_crispy_field }}
                </fieldset>
                <!--CUST ADDRESS-->
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-light text-left">Your Address</legend>
                    {{ profile_form.street_address_1 | as_crispy_field }}
                    {{ profile_form.street_address_2 | as_crispy_field }}
                    {{ profile_form.city_town | as_crispy_field }}
                    {{ profile_form.county_area | as_crispy_field }}
                    {{ profile_form.country | as_crispy_field }}
                    {{ profile_form.postal_code | as_crispy_field }}
                </fieldset>
                <!--SUBMIT-->
                <button id="submit-button" class="btn btn-warning text-uppercase mt-3">
                    <span>Update Profile</span>
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                </button>
            </form>
        </div>
        <!--ORDER HISTORY-->
        <div class="col-12 col-md-6 p-5">
            <h6>Your Order History</h6>
            <hr class="bg-light">
            {% if orders %}
            <table class="table border border-light text-light my-5">
                <thead class="bg-info">
                    <th>order id</th>
                    <th>order date</th>
                    <th>grand total</th>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td><a href="{% url 'checkout_success' order.order_id %}"
                                class="text-dcoration-none text-light">{{ order.order_id }}</a></td>
                        <td>{{ order.date }}</td>
                        <td>€{{ order.grand_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h6>You have no orders yet.</h6>
            <a href="{% url 'categories' %}" class="btn btn-warning text-uppercase my-5"><i
                    class="fas fa-shopping-cart"></i>&nbsp to the shop!</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}