{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container bg-container-dark text-center">
        <div class="row">
            <div class="col-8 offset-2">
                <h4 class="text-success">Order Complete!</h4>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col-8 offset-2">
                <h6>Your Order Id: <strong>{{ order.order_id }}</strong></h6>
                <p>You will shortly recieve a confirmation to <u>{{ order.cust_email }}</u></p>
                <a href="{% url 'categories' %}" class="btn btn-warning text-uppercase my-5"><i class="fas fa-chevron-left"></i>&nbsp continue shopping</a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-8 offset-2 text-left text-light">
                <h5>Your Details</h5>
                <table class="table border border-light text-light">
                    <thead class="bg-info">
                        <th>name</th>
                        <th>email</th>
                        <th>phone</th>
                        <th>address</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.cust_name }}</td>
                            <td>{{ order.cust_email }}</td>
                            <td>{{ order.cust_phone }}</td>
                            <td>{{ order.address }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-8 offset-2 text-left text-light">
                <h5>Your Items</h5>
                <table class="table border border-light text-light">
                    <thead class="bg-info">
                        <th>item</th>
                        <th>item id</th>
                        <th>qty</th>
                        <th>unit price</th>
                        <th>total</th>
                    </thead>
                    <tbody>
                        {% for item in order_items %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.product.id }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>€{{ item.product.discounted_price }}</td>
                                <td>€{{ item.item_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-8 offset-2 text-left text-light">
                <h5>Your Totals</h5>
                <table class="table border border-light text-light">
                    <thead class="bg-info">
                        <th>delivery charges</th>
                        <th>item total</th>
                        <th>grand total</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>€{{ order.delivery_surcharge }}</td>
                            <td>€{{ order.items_total }}</td>
                            <td><strong>€{{ order.grand_total }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}