{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container bg-container-dark text-light">
        <div class="row">
            <div class="col-12 col-md-10 text-center text-md-left my-1">
                <h2><strong>bundle</strong></h2>
            </div>
        </div>
        <hr class="bg-light"> 
        <div class="row mt-5">
            <div class="col-10 offset-1">
                {{ bundle.name }}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-10 offset-1">
                <form action="" id="item-formset">
                    {% csrf_token %}
                    {% for form in formset %}
                        <div class="row my-auto align-items-center">
                            <div class="col-2 text-center">
                                <img src="" id="img-{{ forloop.counter0 }}" alt="" class="cart-img border border-light rounded-3">
                            </div>
                            <div class="col-5">
                                {{ form.product|as_crispy_field }}
                            </div>
                            <div class="col-2">
                                {{ form.item_qty|as_crispy_field }}
                            </div>
                            <div class="col-1"><button class="btn btn-warning add-form mb-3"><i class="fas fa-plus"></i></button></div>
                            <div class="col-1"><button class="btn btn-danger remove-form mb-3"><i class="fas fa-trash"></i></button></div>
                        </div>
                        <hr class="bg-light">
                    {% endfor %}
                    <div class="row mt-5">
                        <div class="col-10 offset-1 text-center">
                            <button type="submit" class="btn btn-warning text-uppercase">add bundle to cart</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>    
    $(document).ready(function(){
        $('#item-formset').find('select').each(function(index) {
            getImage(function(output){
                $('#img-' + index).attr("src", output);
            }, this.value);
        });
        
        $('#item-formset').find('select').on('change', function(e)  {
            getImage(function(output){
                $('#img-0').attr("src", output);
            }, this.value);
        });

        function getImage(handleData, p_id) {
            $.get({
                url: '/bundle/serveimage/' + p_id,
                success: function (response) {              
                    handleData(response);
                },
                error: function () {
                    handleData(response);
                }
            });
        }
    });
</script>
{% endblock %}