<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto m-sm-2">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Online Shop
            </a>
            <div class="dropdown-menu border-1 border-dark pb-4 pl-0 pr-2" aria-labelledby="shop-link">
                {% for key, values in menu_context.items %}
                    <a href="{% url 'sub_categories' %}?category={{ key }}" class="dropdown-item text-bold mt-3 ml-0 pl-3">{{ key }}</a>
                    {% for sub_cat in values %}
                        <a href="{% url 'products' %}?sub_category={{ sub_cat }}" class="dropdown-item text-muted ml-2 pr-0">{{ sub_cat }}</a>
                    {% endfor %}
                    {% if not forloop.last %}
                        <hr class="ml-2">
                    {% endif %}
                {% endfor %}
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link" href="{% url 'bundles' %}" id="buildabundle-link">
                Build A Bundle
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link" href="#" id="balloon-printing-link">
                Balloon Printing
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link" href="#" id="your-event-link">
                Your Event
            </a>
        </li>
    </ul>
</div>