{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container bg-container-dark px-2 pb-5">
    <!--CONTENT HEADER-->
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <h3>Terms & Conditions</h3>
            <hr class="bg-light">
        </div>
    </div>
    <!--TERMS-->
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <h5>Products</h5>
            <ul>
                <li>
                    All Products on this website (which may vary from time to time) are available in Dublin
                </li>
                <li>All Products are subject to availability. 
                    In the event of any supply difficulties, 
                    we reserve the right to substitute a Product of equivalent value and quality without notice. 
                </li>
                <li> In the event that we are unable to supply the Product or any substitute product to you at all, 
                    we shall notify you as soon as is reasonably possible
                </li>
            </ul>
            <h5>Pricing</h5>
            <ul>
                <li>
                    All prices are inclusive of VAT
                </li>
            </ul>
            <h5>Orders</h5>
            <ul>
                <li>
                    In order to process your order you will be required to provide us with some personal information such as name, email, phone number, and address
                </li>
                <li>
                    We accept payment by all major credit/debit cards
                </li>
                <li>
                    Submission of the order for acts as acceptance of our terms and conditions
                </li>
                <li>
                    Please contact us in the event of dissatisfaction with a product or service and we will do our best to rectify the issue
                </li>
            </ul>
            <h5>Delivery</h5>
            <ul>
                <li>
                    We aim to deliver within the next working day for orders processed before 3pm. 
                </li>
                <li>
                    In the event of delivery being delayed beyond that time, we will contact you to notify. 
                </li>
            </ul>
            <h5>Cancellation</h5>
            <ul>
                <li>
                    Orders may be cancelled up to 24 hours before the intended delivery time.  
                </li>
            </ul>
            <h5>Diclaimer</h5>
            <ul>
                <li>
                    Whilst we agree to use our reasonable endeavours to ensure that this Online Site and/or the Online Service 
                    is fully operational and error-free we cannot guarantee this and, therefore, accept no responsibility 
                    for any defects and/or interruption of the Online Site and/or the Online Service 
                    and shall be released from our obligations under these Terms and Conditions in the event of any 
                    cause beyond our reasonable control which renders the provision of the Online Site 
                    and/or the Online Service impossible or impractical.
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}