{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/slideshow.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container bg-container-dark text-light pb-5">
    <!--CONTENT HEADER-->
    <div class="row">
        <div class="col-12 col-md-10 text-center text-md-left my-1">
            <h3><strong>Balloon Printing</strong></h3>
            <p class="mb-0">Follow the steps below to create your own personalised balloons!</p>
            <p class="text-danger"><small>We will be adding more prinatable balloons very soon!</small></p>
        </div>
    </div>
    <hr class="bg-light">
    {% if slideshow_images %}
        <!--SLIDESHOW-->
        <div class="row d-md-block">
            <div class="col-10 offset-1 text-center mb-3">
                <a href="#" class="btn btn-info m-3" id="slideshow-toggle">&#x25BC; Show me some cool custom print ideas</a>
                <div id="slideshow">
                    {% include 'includes/slideshow.html' with slideshow_images=slideshow_images container=0 %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if products %}
    <!--SELECT A BALLOON HEADER-->
    <div class="row mb-1">
        <div class="col-10 offset-1">
            <p class="text-center" id="step-1">1. Select a Balloon {% if order_form %}<i
                    class="fas fa-check text-success"></i>{% endif %}</p>
        </div>
    </div>
    <!--BALLOONS TO SELECT-->
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                {% for product in products %}
                    {% include './includes/card.html' with result=product cntxt=cntxt %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if order_form %}
        <hr class="bg-light">
        <!--CUSTOM MESSAGE AND QTY FORM-->
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <p id="step-2" class="text-center"> 2. Add your personalised message {% if cntxt == 'update' %}<i
                        class="fas fa-check text-success"></i>{% endif %}</p>
                <form action="{% url 'new_order_handler' %}" method="POST" id="order-form" class="mb-5">
                    {% csrf_token %}
                    {{ order_form|crispy }}
                    <!--PRINT PRICE-->
                    <div class="text-center">
                        <span class="text-muted">total price:</span>
                        <span id="print-total-price"></span>
                    </div>
                    <!--ADD TO CART-->
                    <div class="text-center">
                        {% if cntxt == 'add' %}
                        <button type="submit" class="btn btn-warning mt-3 text-uppeercase" id="submit-btn">add to cart</button>
                        {% else %}
                        <button type="submit" method="POST"
                            formaction="{% url 'update_order_handler' custom_print_order.id %}" class="btn btn-warning mt-3 text-uppeercase"
                            id="submit-btn">update your print item</button>
                        {% endif %}
                        <input type="hidden" name="p_id" value="{{ product.id }}">
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script src="{% static 'js/slideshow.js' %}" type="text/javascript"></script>
        <script src="{% static 'printing/js/printing.js' %}" type="text/javascript"></script>
{% endblock %}