{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container bg-container-dark text-light">
        <div class="row">
            <div class="col-12 col-md-10 text-center text-md-left my-1">
                <div class="row">
                    <div class="col-10 offset-1">
                        <h3>add a product</h3>
                        <a href="{% url 'load_products' %}" class="btn btn-warning text-uppercase text-center"><i class="fas fa-chevron-left"></i> product management</a>
                        <hr class="bg-light">
                    </div>
                </div>
                {% if form %}
                <div class="row">
                    <div class="col-10 offset-1">
                        <form action="{% url 'add_product' %}" method="POST" class="mt-2 mb-5" enctype="multipart/form-data">   
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="row mt-5">
                                <div class="col-12 text-center my-auto">
                                    <button type="submit" class="btn btn-warning text-uppercase">add product</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}