{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container bg-container-dark text-light">
        <div class="row">
            <div class="col-12 col-md-10 text-center text-md-left my-1">
                <div class="row">
                    <div class="col-10 offset-1">
                        <h3>edit a product</h3>
                        <a href="{% url 'load_products' %}" class="btn btn-warning text-uppercase text-center"><i class="fas fa-chevron-left"></i> product management</a>
                        <hr class="bg-light">
                    </div>
                </div>
                {% if form %}
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="col-12 text-center my-auto">
                            <a href="{% url 'delete_product' product.id %}" class="btn btn-danger text-uppercase text-center" onClick="return confirm('Are you sure you want to delete {{ product.name }}?')" id="product-delete"><i class="fas fa-trash"></i> delete {{ product.name }}</a>
                        </div>
                        <form action="{% url 'edit_product' %}" method="POST" class="mt-2 mb-5" enctype="multipart/form-data">   
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="row mt-5">
                                <div class="col-12 text-center my-auto">
                                    <button type="submit" class="btn btn-warning text-uppercase">update {{ product.name }}</button>
                                    <input type="hidden" name="p_id" value="{{ product.id }}">
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
$(document).ready(function(){
    document.getElementById('div_id_select_product').getElementsByTagName('label')[0].style.display = 'none';
    $('#id_image').addClass('btn btn-info mt-1 rounded-3');
    $('#id_select_product').change(function(){
        $('#selector-form').find('button').first().trigger('click');
    });
});
</script>
{% endblock %}