{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container bg-container-dark text-light">
        <div class="row">
            <div class="col-12 col-md-10 text-center text-md-left my-1">
                <div class="row">
                    <div class="col-10 offset-1">
                        <h3>product management</h3>
                        <hr class="bg-light">
                    </div>
                </div>
                {% if selector_form %}
                <div class="row">
                    <div class="col-12 text-center my-auto">
                        <a href="{% url 'add_product' %}" class="btn btn-warning text-uppercase mb-3"><i class="fas fa-plus"></i> add a new product</a>
                    </div>
                    <div class="col-12 text-center mb-3">
                        <span>or...</span>
                    </div>
                    <div class="col-10 offset-1 text-center my-auto">
                        <form action="{% url 'edit_product' %}" method="GET" id="selector-form">   
                            <div class="row">
                                <div class="col-4 offset-4">
                                    {{ selector_form|crispy }}
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-warning text-uppercase d-none">select</button>
                                </div>
                            </div>
                        </form>
                        <hr class="bg-light"> 
                    </div>  
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
$(document).ready(function(){
    document.getElementById('div_id_select_product').getElementsByTagName('label')[0].style.display = 'none';
    $('#id_image').addClass('btn btn-info mt-1 rounded-3');
    $('#id_select_product').change(function(){
        $('#selector-form').find('button').first().trigger('click');
    });
});
</script>
{% endblock %}