{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container bg-container-dark text-light pb-5">
    <!--CONTENT HEADER-->
    <div class="row">
       <!--SUB CATEGORY HEADER-->
        <div class="col-md-8 text-center text-md-left my-2 my-lg-5">
            {% if products %}
                <h3><strong>{{ products.0.category.name }} > {{ sub_category }}</strong></h3>
            {% else %}
                <h3><strong>{{ sub_category }}</strong></h3>
            {% endif %}
        </div>
        <!--SORT BTN-->
        <div class="col-md-4 text-center text-lg-left my-1">
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if current_sort == None %}sort{% else %}{{ current_sort }} {{ current_dir }}{% endif %}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if current_sort != None %}
                    <a href="{% url 'products' %}?sub_category={{ sub_category }}" class="dropdown-item">none</a>
                    {% endif %}
                    <a href="{% url 'products' %}?sub_category={{ sub_category }}&sort=price&dir=asc"
                        class="dropdown-item">by price asc</a>
                    <a href="{% url 'products' %}?sub_category={{ sub_category }}&sort=price&dir=desc"
                        class="dropdown-item">by price desc</a>
                    <a href="{% url 'products' %}?sub_category={{ sub_category }}&sort=name&dir=asc"
                        class="dropdown-item">by name asc</a>
                    <a href="{% url 'products' %}?sub_category={{ sub_category }}&sort=name&dir=desc"
                        class="dropdown-item">by name desc</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="bg-light">
    <!--PRODUCT RESULTS-->
    <div class="row">
        {% if products %}
            {% for product in products %}
                {% include './includes/card.html' with result=product cntxt='products' %}
            {% endfor %}
        {% else %}
            <h4>We're afraid there are currently no products to display!</h4>
        {% endif %}
    </div>
    <!--NAVIGATE SITE BTNS-->
    <div class="row mt-5">
        <div class="col-12 text-center">
            {% if products %}
            <a href="{% url 'sub_categories' %}?category={{ products.0.category.name }}"
                class="btn btn-warning text-uppercase"><i class="fas fa-chevron-left"></i> back</a>
            {% else %}
            <input type=button value="&#60; back" class="btn btn-warning mt-5 text-uppercase"
                onClick="javascript:history.go(-1);">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}