{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container bg-container-dark text-light py-5 text-center text-lg-left" id="product-detail-container">
    <div class="row mt-2">
        <!--PRODUCT IMAGE PANEL-->
        <div class="col-lg-6">
            <!--NAVIGATE BACK BTN-->
            <div class="row mt-0 mb-2">
                <div class="col-12">
                    <input type=button value="&#60; back" class="btn btn-warning m-0 py-1 text-uppercase"
                        onClick="javascript:history.go(-1);">
                </div>
            </div>
            <!--PRODUCT IMAGE-->
            {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid border border-info product-detail-img"
                    alt="{{ product.name }}">
            {% else %}
                <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid product-detail-img" alt="{{ product.name }}">
            {% endif %}
        </div>
        <!--PRODUCT DETAILS PANEL-->
        <div class="col-lg-6">
            <!--PRODUCT NAME-->
            <h3>{{ product.name }}</h3>
            <!--CAT SUB_CAT BREADCRUMBS-->
            <h6>
                <i class="fas fa-tags"></i>
                <a href="{% url 'sub_categories' %}?category={{ product.category }}"
                    class="text-light text-decoration-none"> {{ product.category }}</a> >
                <a href="{% url 'products' %}?sub_category={{ product.sub_category }}"
                    class="text-light text-decoration-none">{{ product.sub_category }}</a>
            </h6>
            <!--QTY IN CART-->
            <p class="text-info mb-0">{% if product.qty_in_cart > 0 %}You have {{product.qty_in_cart}} of this item in
                your cart!{% endif %}</p>
            {% if product_alert_qty_threshold > product.qty_held %}
                <!--STOCK THRSHOLD WARNING-->
                <p class="text-warning mb-0">Only <strong>{{product.qty_held}}</strong> left in stock!</p>
            {% endif %}
            <hr class="bg-light">
            <!--PRODUCT DESC-->
            <p><i>{{ product.description }}</i></p>
            <!--PRICE-->
            {% if result.full_price != result.discounted_price %}
                <p class="my-0"><s class="text-muted">€{{ product.full_price }}</s><strong>&nbsp&nbsp€{{ product.discounted_price }}</strong></p>
            {% else %}
                <p class="my-0"><strong>€{{ product.discounted_price }}</strong></p>
            {% endif %}
            {% if product.message %}
                <!--SHOP ONLINE-->
                <p><span class="text-muted">printed message: </span><span>"{{ product.message }}"</span></p>
            {% endif %}
            {% if product.age %}
                <!--PRODUCT AGE-->
                <p><span class="text-muted">for age: </span><span>{{ product.age }}</span></p>
            {% endif %}
            {% if product.color %}
                <!--PRODUCT COLOR-->
                <p><span class="text-muted">color: </span><span>{{ product.color.name }}</span></p>
            {% endif %}
            {% if product.size %}
                <!--PRODUCT SIZE-->
                <p><span class="text-muted">size: </span><span>{{ product.size.name }}</span></p>
            {% endif %}
            <!--ADD TO CART FORM-->
            <form action="{% url 'add_product_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form">
                    <div class="col-md-4 offset-md-4 col-lg-12 offset-lg-0 mb-3 pl-5 pl-lg-3">
                        <!--QTY WIDGET-->
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="quantity-left-minus btn btn-info btn-number border-info"
                                    data-type="minus" data-field="">
                                    <span class="fas fa-minus"></span>
                                </button>
                            </span>
                            <input type="number" id="qty" name="qty"
                                class="form-control input-number text-center qty-input border-top-info border-bottom-info mt-1"
                                value="1" min="1">
                            <span class="input-group-btn">
                                <button type="button" class="quantity-right-plus btn btn-info btn-number border-info"
                                    data-type="plus" data-field="">
                                    <span class="fas fa-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!--SUBMIT-->
                    <div class="col-12 mt-3">
                        <input type="submit" class="btn btn-warning mt-2 mb-5 text-uppercase" value="add to cart">
                    </div>
                </div>
                <input type="hidden" name="this_url" value="{{ request.get_full_path }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}   
        <script src="{% static 'products/js/product_detail.js' %}"></script>
{% endblock %}