{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container bg-white" id="products-container">
        <div class="row">
            <div class="col text-center text-lg-left text-dark my-5">
                <h2><strong>{{ category }}</strong></h2>
                <hr>
            </div>
        </div>
        <div class="row">
                {% for sub_category in sub_categories %}
                    {% include './includes/card.html' with result=sub_category cntxt='sub_categories' %}
                {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{% url 'categories' %}" class="btn btn-dark"><i class="fas fa-chevron-left"></i> back</a>
            </div>
        </div>
    </div>
{% endblock %}